<!---
      <h5>{{ site.data.nav2.docs_list_title }}</h5>
      <nav>
        <ul>
          {% for item in site.data.nav2.docs %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <h5>{{ site.data.navigation.docs_list_title }}</h5>
      <nav>
        <ul>
          {% for item in site.data.navigation.docs %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
--->
