Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/example-page' | relative_url }}">Example page</a></li>
</ul>

      <!--Add sidebar here... right now this isn't working...-->
      <h3>{{ site.data.nav2.docs_list_title }}</h3>
      <nav>
        <ul>
          {% for item in site.data.nav2.docs %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <h3>{{ site.data.navigation.docs_list_title }}</h3>
      <nav>
        <ul>
          {% for item in site.data.navigation.docs %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>